# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Local environment variables
.env

# Model and vector data
/data/

# React build output
src/public/assets/

# Frontend dependencies
frontend/node_modules/

.DS_Store

*.traineddata